{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ event.name }}</h1>

  <p><strong>Описание:</strong> {{ event.subject }}</p> <!-- author detail link not yet defined -->
  <p><strong>Изображение:</strong><img src="{{ event.picture }}"></p>
  <p><strong>Ссылка:</strong> {{ event.link }}</p>
  <p><strong>Дата создания:</strong> {{ event.create_date_time }}</p>
  <p><strong>Начало:</strong> {{ event.start_date_time }}</p>
  <p><strong>Конец:</strong> {{ event.end_date_time }}</p>
  <p><strong>Категория:</strong> {{ event.category }}</p>
  <p><strong>Тэги:</strong> {{ event.tags }}</p>
  <p><strong>Адрес:</strong> {{ event.adress }}</p>
  <p><strong>Оценка:</strong> {{ event.estimates }}</p>
<!--  <p><strong>Genre:</strong> {% for genre in event.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p> -->

<!--
  <div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>

    {% for copy in event.eventinstance_set.all %}
    <hr>
    <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'd' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</p>
    {% if copy.status != 'a' %}<p><strong>Due to be returned:</strong> {{copy.due_back}}</p>{% endif %}
    <p><strong>Imprint:</strong> {{copy.imprint}}</p>
    <p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>
    {% endfor %}
  </div>
 -->
{% endblock %}